
    <div class="dashboard-grid">
        <div class="user-info">
            <div class="user-avatar">
                <%= cl_image_tag @current.photo, class: 'img-circle' %>
            </div>
                <div class="user-info-text">
                    <h4><strong><%= @current.first_name + " " + @current.last_name %></strong></h4>
                    <p>
                        <%= @current.location %>
                    </p>
                    <h5><%= @current.is_scout ? "Scout" : "Influencer"%></h5>
                </div>
                <hr>
                <div class="container-actions">
                    <ul>
                        <li>
                            <%= icon('fas', 'cog') %>
                            Settings</li>
                        <li>
                            <%= icon('fas', 'comment') %>
                            Messages</li>
                        <li>
                            <%= icon('fas', 'star') %>
                            Reviews</li>
                    </ul>
                </div>
            </div>

            <div class="user-bookings">
                <!-- ### -->

                <% @current.bookings.each do |booking| %>

                        <div class="db-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
                        url('<%= cl_image_path booking.location.photo, width: 450, height: 300 %>');">
                        <div class="container">
                          <h3><strong>Confirmed</strong></h3>
                          <p>Date of departure <%= booking.date %></p>
                            <h2> <%= link_to booking.location.name, location_path(booking.location) %></h2>

                            <h3><%= booking.location.user.first_name %></h3>
                            <p>
                                <%= booking.location.coordinates %>
                            </p>
                            <p>$
                                <%= booking.location.price %>
                            </p>
                            <%= cl_image_tag booking.user.photo, class: 'card-user-d' %>
                    </div>
                    </div>

                    <% end %>
                    <!-- ### -->
            </div>

    <div class="user-bookmarked">
        <% @locations.sample(3).each do |l| %>
        <div class="bookmarked-card">
         <h4><%= l.name %></h4>
          <h5><%= l.description %></h5>
          <%= link_to location_path(l) do %>
          <%= cl_image_tag l.photo, width: 300, height: 200 %>
          <% end %>
        </div>
        <% end %>
    </div>
  </div>
</div>
