<div style="background-image:
        url('<%= cl_image_path 'water', height: 500, width: 500 %>')">

<div class="container">
    <div class="dashboard-grid">
        <div class="user-info">
            <div class="user-avatar">
                <img class="img-circle" src="https://picsum.photos/150/150">
            </div>
                <div class="user-info-text">
                    <h4><strong><%= @current.first_name + " " + @current.last_name %></strong></h4>
                    <p>
                        <%= @current.location %>
                    </p>
                    <h5><%= @current.is_scout ? "Scout" : "Influencer"%></h5>
                </div>
                <hr>
                <div class="container-actions">
                    <ul>
                        <li>
                            <%= icon('fas', 'cog') %>
                            Settings</li>
                        <li>
                            <%= icon('fas', 'comment') %>
                            Messages</li>
                        <li>
                            <%= icon('fas', 'star') %>
                            Reviews</li>
                    </ul>
                </div>
            </div>
            <div class="user-bookings">
                <!-- ### -->
                <% @current.bookings.first(3).each do |booking| %>

                        <div class="db-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
                        url('<%= cl_image_path booking.location.photo, width: 400, height: 300 %>');">
                            <div class="card-category">
                                <%= link_to booking.location.name, location_path(booking.location) %>
                            </div>
                            <div class="card-description">
                                <h2><%= booking.location.user.first_name %></h2>
                                <p>
                                    <%= booking.location.coordinates %>
                                </p>
                                <p>$
                                    <%= booking.location.price %>
                                </p>
                            </div>
                            <!-- change to user.photo -->
                            <%= cl_image_tag booking.user.photo, class: 'card-user' %>
                    </div>

                    <% end %>
                    <!-- ### -->
            </div>

    <div class="user-bookmarked">
      <%#= icon('fas', 'heart') %>

        <% @locations.first(3).each do |l| %>
        <div class="bookmarked-card">
         <h4><%= l.name %></h4>
          <p> <%= l.description %></p>
          <h5><%= l.user.first_name %></h5>
          <img class="img-rounded" src="https://picsum.photos/250/150">
        </div>
        <% end %>
    </div>
  </div>
</div>
</div>
