<div class="big">
<div class="banner-home" style="background-image:
         url('<%= cl_image_path 'root', height: 500, width: 500 %>')">
    <div class="banner-content">
        <h1>Off Trail</h1>
        <%= link_to locations_path do %>
        <h4> <%= icon('fas', 'globe') %>
            Explore</h4>
        <% end %>
        <a href="#join"><%= icon('fas', 'arrow-down') %></a>
    </div>
</div>

<div class="grid-home-2x2">
    <div class="scout-title">
        <h3> <%= link_to scoutinfo_path,:class=>"btn-home-join-us" do %>SCOUT<% end %></h3>
        <hr>
        <p>The domain name info is a generic top-level domain (gTLD) in the Domain Name System (DNS) of the Internet. The name is derived from information, though registration requirements do not prescribe any particular theme. The info TLD was a response to I</p>
    </div>
    <div class="scout-img">
        <img src="https://picsum.photos/500/500" alt="">
    </div>
        <div class="inf-img">
            <img src="https://picsum.photos/500/500" alt="">
    </div>
            <div class="inf-title">
                <h3>
              <%= link_to influencerinfo_path,:class=>"btn-home-join-us" do %>INFLUENCER<% end %></h3>
                <hr>
                <p>The domain name info is a generic top-level domain (gTLD) in the Domain Name System (DNS) of the Internet. The name is derived from information, though registration requirements do not prescribe any particular theme. The info TLD was a response to I</p>
            </div>
        </div>
        <div style="background-image:
         url('<%= cl_image_path 'leaves', height: 500, width: 500 %>')">
        </div>
