<div class="banner-home" style="background-image:
         url(<%= image_path 'root.jpeg', height: 500, width: 500 %>)">
    <div class="container">
        <div class="banner-content">
            <h1>Off Trail</h1>
            <br>
        </div>
        <div class="container">
            <a href="#join"><%= icon('fas', 'arrow-down') %></a>
        </div>
    </div>
</div>
<div id="join" class="banner-home" style="background-image:
         url(<%= image_path 'leaves.jpeg', height: 500, width: 500 %>)">
    <div class="container">
        <div class="banner-content">
            <%= link_to locations_path do %>
            <h4> <%= icon('fas', 'globe') %>
            Explore</h4>
            <% end %>
            <br>
            <%= link_to scoutinfo_path,:class=>"btn-home-join-us" do %>
               Become a Scout
            <% end %>
            <%= link_to influencerinfo_path,:class=>"btn-home-join-us" do %>
            Become an Influencer
            <% end %>
        </div>
    </div>
</div>
