<div class="locations-bg style ">
  <div class="big-container">
    <%= form_tag("/search", method: 'get', remote: true ) do %>
    <%= label_tag(:query, 'Search for:') %>
    <%= text_field_tag(:query) %>
    <%= submit_tag("Find") %>
    <% end %>
    <div id="results"></div>
    <div id="search_results_and_index">
      <div class="map-center">
        <div id="map" style="width: 100%;
        height: 400px; margin-top: 50px;" data-markers="<%= @markers.to_json %>"></div>
      </div>
      <%= render 'indexcards', locations: @locations %>
    </div>
  </div>
</div>
