
<div class="container">
    <div class="location-info">
        <h3><%= @location.name %></h3>
        <p>Scout:
            <%= @location.user.first_name %>
            <%= @location.user.last_name %>
        </p>
        <%#= cl_image_tag @location.photo, height: 300, width: 400, crop: :fill %>
        <%= @location.description %>
        <p>Price to Book:
            <%= @location.price %>
        </p>

    </div>

    <div class="btn-actions">
      <%= link_to locations_path do %>
        <%= icon('fas', 'angle-left') %>
      <% end %>
    </div>

</div>


